@value dimensions: './dimensions.css';

@value colors: './colors.css';

@value navBarHeight from dimensions;

@value darkPrimaryColor from colors;

@value primaryColor from colors;

@value lightPrimaryColor from colors;

@value textPrimaryColor from colors;

@value accentColor from colors;

@value primaryTextColor from colors;

@value secondaryTextColor from colors;

@value dividerColor from colors;

html {
    font-size: 16px;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    overflow-y: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    position: absolute;
    display: block;
}

/**
Navigation
*/

.navBar {
    height: navBarHeight;
    background: primaryColor;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    width: calc(100% - 2rem);
    justify-content: space-between;
}

.navBar > .title {
    margin: 0 1rem;
    text-decoration: none;

}

.navBar > .image {
    margin: 0 auto;
    height: calc(navBarHeight - 1rem);
    border-radius: calc(navBarHeight / 2 - 0.5rem);
}

.baseContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.contentContainer {
    display: inline-block;
    width: 100%;
    height: calc(100vh - navBarHeight);
    overflow-x: hidden;
    overflow-y: visible !important;
    /*scrollbar-color: darkPrimaryColor lightPrimaryColor;
    scrollbar-width: thin;*/
}

.contentContainer::-webkit-scrollbar {
    width: 1rem;
}

.contentContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.contentContainer::-webkit-scrollbar-thumb {
    background-color: darkPrimaryColor;
    outline: 1px solid darkPrimaryColor;
}

/*
.baseContainer > .contentContainer {
    scrollbar-color: darkPrimaryColor lightPrimaryColor;
    scrollbar-width: thin;
}*/


/**
Layouts
*/

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.expand {
    flex: 1
}

.spread {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.row > svg {
    margin: 0 1rem;
}

.defaultPadding {
    padding: 0.25rem;
}

.defaultMargin {
    margin: 0.25rem;
}

.mediumPadding {
    padding: 0.4rem;
}

.mediumMargin {
    margin: 0.4rem;
}

.centered {
    /*height: 100%;*/
    align-items: center;
}


.stack {
    position: relative;
}

.card {
    border: 1px solid darkPrimaryColor;
    border-radius: 8px;
    background-color: white;
}

.buttonCard {
    background-color: primaryColor;
    border-color: primaryColor;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    height: 10rem;
    width: 20rem;
    margin: .5rem;
}

.buttonCard:hover {
    background-color: darkPrimaryColor;
    transition-duration: .3s;
}

.buttonCard > .column {
    opacity: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}


.sidebarItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
    padding-left: 1rem;
    margin: .25rem .25rem .25rem 0;
    background: transparent;
    font-size: .875rem;
    text-decoration: none;
    color: primaryTextColor;
    border-radius: 0 16px 16px 0;
    transition-duration: 300ms;
}

.sidebarItemIcon {
    padding-right: 1rem;
}

.sidebarItem:hover {
    background: #e8eaed;
}

.sidebarItemActive {
    background: lightPrimaryColor;
    color: primaryTextColor;
}

.sidebarItem > image {
    opacity: 1;
}

.sidebarItemActive > span {
    opacity: 1;
}

.button {
    padding: 0;
    margin: 0;
}

.button--disabled {
    background-color: black;
}


.statefulButton {
    margin: 0.5rem;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    outline: 0 !important;
    transition: all 100ms;
}

.on {
    background: lightsteelblue;
}

.on:hover {
    background: lightgrey;
    transition: all 100ms;
}

.off {
    background: lightgrey;
}

.off:hover {
    background: lightsteelblue;
    transition: all 100ms;
}

.statefulButton:disabled {
    background: lightcoral;
}

.primary {
    color: red
}

.title {
    font-size: 1.2rem;
    color: textPrimaryColor;
    word-wrap: break-spaces; /* Перенос слов */
    white-space: normal;
    margin: 0.25rem;
}

.card > .title {
    font-size: 1.2rem;
    color: primaryTextColor;
    word-wrap: break-spaces;
    white-space: normal;
    text-decoration: none;
}

.textPrimary {
    font-size: 1rem;
    color: primaryTextColor;
    word-wrap: break-spaces; /* Перенос слов */
    white-space: normal;
    margin: 0.25rem;
}

.textSecondary {
    font-size: .875rem;
    color: secondaryTextColor;
}

.row > span {
    margin: .25rem 1rem 0.25rem 0;
}


.icon {
    border-radius: 0.25rem;
    border: none;
    color: textPrimaryColor;
    cursor: pointer;
}

.iconButton {
    border-radius: 0.25rem;
    border: none;
    color: textPrimaryColor;
    cursor: pointer;
}

/* Darker background on mouse-over */
.iconButton:hover {
    color: lightPrimaryColor;
    opacity: 0.9;
    transition-duration: .3s;
}

.textButton {
    background: lightPrimaryColor;
    color: primaryTextColor;
    background: textPrimaryColor;
    padding: 0.5rem;
    margin: 0.5rem;
    min-width: 5rem;
    border: 1px solid primaryColor;
    border-radius: 0.25rem;
}

.textButton:hover {
    color: textPrimaryColor;
    opacity: 0.9;
    background: primaryColor;
    transition: .5s;
}

.textButton:disabled {
    background: coral;
    text-decoration-color: primaryTextColor;
}

.textButton2:hover {
    border: none;
    color: white;
    background: primaryColor;
    transition-duration: 200ms;
}


.chipButton {
    min-height: 2rem;
    background: lightPrimaryColor;
    border-radius: 0.25rem;
    padding: 0.25rem 2rem;
    margin: 0.25rem;
}

.chipButton:hover {
    background: accentColor;
    transition-duration: 0.5s;
}

.styledContainer {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.loader {
    font-size: 10px;
    margin: auto;
    /*text-indent: -9999em;*/
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: primaryColor;
    /*background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);*/
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 2s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 40%;
    background: white;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.modalBackground {
    display: block;
    z-index: 1;
    position: fixed;
    background: rgba(192, 192, 192, 0.3);
    height: 100%;
    width: 100%;
}

.modal {
    display: block;
    /*flex-direction: column;*/
    z-index: 2;
    position: fixed;
    background: white;
    width: 80%;
    left: 10%;
    top: 10%;
    padding: 1rem;
}

.drawer {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.linearProgress {
    position: relative;
    width: 100%;
    height: .5rem;
}

.linearProgress:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: darkPrimaryColor;
    animation: indeterminate_first 1.5s infinite ease-in-out;
    animation-timing-function: linear;
}

.linearProgress:after {
    content: '';
    position: absolute;
    height: 100%;
    background-color: lightPrimaryColor;
    animation: indeterminate_second 1.5s infinite ease-in-out;
    animation-timing-function: linear;
    animation-delay: .75s;
}

@keyframes indeterminate_first {
    0% {
        left: 0;
        width: 10%;
    }
    50% {
        left: 35%;
        width: 30%;
    }
    100% {
        left: 100%;
        width: 0;
    }
}

@keyframes indeterminate_second {
    0% {
        left: 0;
        width: 10%;
    }
    50% {
        left: 35%;
        width: 30%;
    }
    100% {
        left: 100%;
        width: 0;
    }
}

.iconGood {
    color: #8BC34A;
}

.iconBad {
    color: #D32F2F;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    position: absolute;
    /*left: -9999px;*/
    display: none;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    top: 0;
    cursor: pointer;
    color: primaryTextColor;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #e145a3;
    border-bottom: 4px solid #e145a3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}


table {
    border-spacing: 0;
    border: 1px solid black;
    font-size: .75rem;
}

tr:last-child > td {
    border-bottom: 0;
}

tr > th {
    border-right: 1px solid black;
}

tr > th:last-of-type {
    border-right: 0;
}

th, td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

th, tr > td:last-of-type {
    border-right: 0;
}
